<div class="comments">
  {{!-- check what is this --}}
{{!-- this code did not need 'each' because we were not using array for user name and created at --}}
{{!-- We added createdAt for comments --}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{format_date createdAt}}
    </div>
    <div class="text">
      {{!-- this will chage to path you are rendering, then link this to single-post, then that handlebar--}}
      {{!-- will be connected connected to comment.js to post using comment-route --}}
   <a href="/single-post/post/{{id}}">{{comment_text}}></a>
    </div>
  </section>
  {{!-- check what is this --}}
  
</div>