{{!-- this will create comment, use comment.js to post once button is clicked --}}
{{!-- this is just a test --}}
{{!-- classes need to be checked --}}
{{!-- make sure we have enough css to back this as this is brand new page --}}



{{!-- following is code given by James, is not commented --}}

<div class="post">
    <article class="card">
        <!-- Show our post details to the user -->
        {{!-- this part needs revision --}}
        <div>{{post.post_text}}</div>
    </article>

    {{#if post.comments}}
        <section class="card">
            <!-- Show a list of comments for this post to the user -->
            {{!-- this part needs revision --}}
            <div>{{post.comment_text}}</div>
        </section>
    {{/if}}
{{!-- may need #if loggedIn --}}
    <form>
        <div class="card-header">
            <h3 id ="headings">Add New Comment</h3>
        </div>

        <div class="card-body">
            <label class="form-label" for="comment-body">Comment</label>
             <div>
                 
      <input name="comment-text" class="form-input" type="text" value="{{post.comment_text}}" />
    </div>
    <br>
            <button type="submit" class="comment-form">Submit</button>
        </div>
    </form>
   
</div>
<script src="/javascript/comment.js"></script>
