<ol class="post-list">
  {{!-- check what is this --}}
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{!-- added --}}
  
  <div>{{post.post_text}}</div>
  <br>
  <p>Comments</p>
  {{!-- added --}}
    
  {{#each post.comments as |comment|}}

{{> comments comment}}
<div>{{post.comment_text}}</div>
<br>
{{/each}}
  {{/each}}
</ol>